<li>
	{{name}}

	{{#unless devoured}}
	<button class="devour" data-id="{{id}}" data-devoured="{{devoured}}">DEVOUR!
	</button>
	{{/unless}}
	
	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
